---
meta:
  default:
    azs: [z1, z2, z3]
    no_proxy: [localhost, 127.0.0.1]

params:
  concourse_network:     concourse
  concourse_vm_type:     small
  worker_vm_type:        concourse-worker
  concourse_disk_type:   concourse
  workers:               3
  num_web_nodes:         1

  stemcell_os:      ubuntu-xenial
  stemcell_version: latest

  volume_driver: detect

update:
  canaries: 1
  max_in_flight: 4
  canary_watch_time: 1000-60000
  update_watch_time: 1000-60000
  serial: false

instance_groups:
  - name: worker
    instances: (( grab params.workers ))
    azs: (( grab params.availability_zones || meta.default.azs ))
    stemcell: default
    vm_type: (( grab params.worker_vm_type ))
    networks:
    - name: (( grab params.concourse_network ))
    update:
      serial: true
      max_in_flight: (( grab instance_groups.worker.instances ))
    jobs:
    - release: concourse
      name: worker
      properties:
        http_proxy_url:  (( grab params.http_proxy  || "" ))
        https_proxy_url: (( grab params.https_proxy || "" ))
        no_proxy:        (( grab params.no_proxy    || meta.default.no_proxy ))
        tsa:
          registration_mode: forward
          worker_key:
            private_key: (( vault meta.vault "/tsa/worker_key:private" ))
            public_key: (( vault meta.vault "/tsa/worker_key:public" ))
        baggageclaim:
          forward_address: 127.0.0.1:7788
        garden:
          forward_address: 127.0.0.1:7777
    - release: concourse
      name: baggageclaim
      properties:
        driver: (( grab params.volume_driver ))
    - release: garden-runc
      name: garden
      properties:
        garden:
          listen_network: tcp
          listen_address: 0.0.0.0:7777

releases:
- (( prepend ))
- (( grab meta.releases.concourse ))
- (( grab meta.releases.garden ))
- (( grab meta.releases.slack-notifications ))

stemcells:
- alias: default
  os: (( grab params.stemcell_os ))
  version: (( grab params.stemcell_version ))
