---
meta:
  default:
    azs: [z1, z2, z3]
    no_proxy: [localhost, 127.0.0.1]

params:
  concourse_network:     concourse
  concourse_vm_type:     small
  worker_vm_type:        concourse-worker
  concourse_disk_type:   concourse
  workers:               3
  num_web_nodes:         1

  stemcell_os:      ubuntu-xenial
  stemcell_version: latest

  volume_driver: detect

update:
  canaries: 1
  max_in_flight: 4
  canary_watch_time: 1000-60000
  update_watch_time: 1000-60000
  serial: false

instance_groups:
  - name: worker
    instances: (( grab params.workers ))
    azs: (( grab params.availability_zones || meta.default.azs ))
    stemcell: default
    vm_type: (( grab params.worker_vm_type ))
    networks:
    - name: (( grab params.concourse_network ))
    update:
      serial: true
      max_in_flight: (( grab instance_groups.worker.instances ))
    jobs:
    - name: worker
      .: (( inject meta.jobs.worker ))
    - release: concourse
      name: baggageclaim
      properties:
        driver: (( grab params.volume_driver ))

releases:
  - name: concourse
    .: (( inject meta.releases.concourse ))
  - name: slack-notification-resource
    .: (( inject meta.releases.slack-notifications ))

stemcells:
- alias: default
  os: (( grab params.stemcell_os ))
  version: (( grab params.stemcell_version ))
