# Jobs used in the small-footprint and full deployments. Base jobs
# are still located in base.yml
---
meta:
  jobs:
    haproxy:  
      name: haproxy
      release: haproxy
      properties:
        ha_proxy:
          tcp:
            - name: web_http
              port: 80
              backend_port: 8080
              backend_servers: (( grab instance_groups.web.networks.0.static_ips || instance_groups.concourse.networks.0.static_ips ))
    atc:
      release: concourse
      name: atc
      properties:
        postgresql:
          database: atc
          role:
            name: atc
            password: (( vault meta.vault "/database/atc:password" ))
        token_signing_key: (( grab params.token_signing_key ))
        bind_port: 8080
        publicly_viewable: true
        main_team:
          auth:
            local:
              users:
                - (( grab params.main_user || meta.default.main_user ))
        add_local_users:
          - (( concat meta.jobs.atc.properties.main_team.auth.local.users.0 ":" meta.http_auth_password ))
        external_url: (( grab params.external_url ))
    tsa:
      release: concourse
      name: tsa
      properties:
        host_key:
          private_key: (( vault meta.vault "/tsa/host_key:private" ))
          public_key: (( vault meta.vault "/tsa/host_key:public" ))
        authorized_keys:
        - (( vault meta.vault "/tsa/worker_key:public" ))
        token_signing_key: (( grab params.token_signing_key ))
    postgres:
      name: postgres
      release: postgres
      properties:
        databases:
          port: 5432
          databases:
          - name: atc
          roles:
          - name: atc
            password: (( vault meta.vault "/database/atc:password" ))
    locker:
      name: locker
      release: locker
      properties:
        locker:
          user: locker
          password: (( vault meta.vault "/locker/api:password" ))
          ssl_cert: (( vault meta.vault "/locker/server:certificate" ))
          ssl_key: (( vault meta.vault "/locker/server:key" ))
    worker:
      release: concourse
      name: worker
      properties:
        http_proxy_url:  (( grab params.http_proxy  || "" ))
        https_proxy_url: (( grab params.https_proxy || "" ))
        no_proxy:        (( grab params.no_proxy    || meta.default.no_proxy ))
        tsa:
          registration_mode: forward
          worker_key:
            private_key: (( vault meta.vault "/tsa/worker_key:private" ))
            public_key: (( vault meta.vault "/tsa/worker_key:public" ))
        baggageclaim:
          forward_address: 127.0.0.1:7788
        garden:
          forward_address: 127.0.0.1:7777


  http_auth_password: (( vault meta.vault "/webui:password" ))